body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.coloured-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Headings */
.big-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3.4rem;
  line-height: 1.5;
  font-weight: 900;
}

/* Navigation Bar  */
.navbar {
  padding-bottom: 4.5em;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-weight: lighter;
  font-size: 1.2rem;
}

/* title  */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Download Buttons  */
.download-btn {
  margin: 5% 3% 5% 0%;
}

/* title image  */
.title-image {
  width: 24%;
  transform: rotate(25deg);
  position: absolute;
}

/* Features  */

#features {
  position: relative;
}

.features-title {
  font-size: 1.5rem;
}

.features-wrapper {
  padding: 5%;
}

.features-wrapper i {
  color: #ef8172;
  margin-bottom: 0.3em;
}

.features-wrapper i:hover {
  color: #ff4c68;
}

/* testimonials  */
#testimonials {
  background-color: #ef8172;
}

.testimonials-text {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 1.25em;
}

/* Press  */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-image {
  width: 15%;
  margin: 1.25em 1.25em 3.125em;
}

/* Pricing Section  */
#pricing {
  padding: 6.25em;
}

.pricing-heading {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

.card-heading {
  font-size: 1.5rem;
}

.price-tag {
  font-size: 3rem;
  font-weight: bold;
}

.card-column {
  padding: 3% 2%;
}

/* CTA Section  */

#cta h3 {
  font-weight: bolder;
  font-size: 3rem;
  line-height: 1.5;
}

/* footer  */

.socials {
  padding: 3em 0.6em;
  color: #8f8f8f;
}

#footer p {
  margin-top: 1em;
}

.fa-instagram:hover {
  color: rgb(131, 58, 180);
}

.fa-envelope:hover {
  color: red;
}

@media (max-width: 991px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    width: 60%;
    transform: rotate(0);
  }
}
